In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import os
from os import walk
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer 
from sklearn.base import BaseEstimator, TransformerMixin


from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score

from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

os.getcwd()

DATA_PATH = 'C:\\AI Learning\\Hacker Earth Projects\\Employee Challenge\\dataset'

train_data = pd.read_csv(os.path.join(DATA_PATH,"train.csv"))
test_data = pd.read_csv(os.path.join(DATA_PATH,"test.csv"))
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
Employee_ID                  7000 non-null object
Gender                       7000 non-null object
Age                          6588 non-null float64
Education_Level              7000 non-null int64
Relationship_Status          7000 non-null object
Hometown                     7000 non-null object
Unit                         7000 non-null object
Decision_skill_possess       7000 non-null object
Time_of_service              6856 non-null float64
Time_since_promotion         7000 non-null int64
growth_rate                  7000 non-null int64
Travel_Rate                  7000 non-null int64
Post_Level                   7000 non-null int64
Pay_Scale                    6991 non-null float64
Compensation_and_Benefits    7000 non-null object
Work_Life_balance            6989 non-null float64
VAR1                         7000 non-null int64
VAR2                         6423 non-null float64
VAR3                         7000 non-null float64
VAR4                         6344 non-null float64
VAR5                         7000 non-null int64
VAR6                         7000 non-null int64
VAR7                         7000 non-null int64
Attrition_rate               7000 non-null float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [25]:
for col in train_data.columns.tolist():
    print("data for ", col)
    print(train_data[col].value_counts())
#train_data.hist()
#corr_matrix = train_data.corr()
#corr_matrix

#train_data.plot(kind="scatter", x="Time_of_service", y="Attrition_rate")

#Variables to classify into buckets - Time_since_promotion, Pay_Scale (only 1,2,3) , Compensation_and_Benefits (0,1),

data for  Employee_ID
EID_6319     1
EID_8773     1
EID_9006     1
EID_4376     1
EID_21644    1
EID_4129     1
EID_7146     1
EID_21451    1
EID_15999    1
EID_23111    1
EID_3067     1
EID_19215    1
EID_11699    1
EID_21345    1
EID_22764    1
EID_5062     1
EID_8626     1
EID_1966     1
EID_17365    1
EID_2765     1
EID_4165     1
EID_2302     1
EID_11377    1
EID_25807    1
EID_18970    1
EID_8237     1
EID_24050    1
EID_17987    1
EID_4569     1
EID_17559    1
            ..
EID_12360    1
EID_7396     1
EID_19088    1
EID_2351     1
EID_2393     1
EID_12757    1
EID_7320     1
EID_10638    1
EID_9753     1
EID_14607    1
EID_5253     1
EID_11327    1
EID_6733     1
EID_2380     1
EID_4931     1
EID_6290     1
EID_1251     1
EID_19921    1
EID_11525    1
EID_25908    1
EID_2294     1
EID_9028     1
EID_7110     1
EID_10308    1
EID_11743    1
EID_7922     1
EID_19075    1
EID_12423    1
EID_22510    1
EID_25244    1
Name: Employee_ID, Length: 7000, dtype: int64
data for  Gender
F    4114
M    2886
Name: Gender, dtype: int64
data for  Age
22.0    235
25.0    235
27.0    231
31.0    218
54.0    212
60.0    211
26.0    210
37.0    208
35.0    205
52.0    199
28.0    194
47.0    193
42.0    193
30.0    191
32.0    189
24.0    185
45.0    184
21.0    171
65.0    152
19.0    151
23.0    148
59.0    136
20.0    122
58.0    122
29.0    115
36.0    106
33.0    104
51.0    103
50.0    101
34.0     99
46.0     98
49.0     97
64.0     95
55.0     94
56.0     94
43.0     93
41.0     92
57.0     92
38.0     89
53.0     88
44.0     85
39.0     83
40.0     81
48.0     79
63.0     73
62.0     69
61.0     63
Name: Age, dtype: int64
data for  Education_Level
3    2878
4    2076
1     695
2     691
5     660
Name: Education_Level, dtype: int64
data for  Relationship_Status
Married    4520
Single     2480
Name: Relationship_Status, dtype: int64
data for  Hometown
Lebanon        2070
Springfield    1736
Franklin       1523
Washington     1106
Clinton         565
Name: Hometown, dtype: int64
data for  Unit
IT                           1394
Logistics                    1173
Sales                         943
Operarions                    706
R&D                           680
Purchasing                    504
Accounting and Finance        496
Human Resource Management     344
Marketing                     212
Production                    211
Quality                       193
Security                      144
Name: Unit, dtype: int64
data for  Decision_skill_possess
Conceptual    1756
Analytical    1755
Directive     1753
Behavioral    1736
Name: Decision_skill_possess, dtype: int64
data for  Time_of_service
6.0     545
5.0     503
3.0     471
4.0     439
2.0     297
8.0     276
7.0     258
10.0    218
9.0     205
13.0    195
12.0    191
15.0    178
11.0    178
14.0    175
0.0     162
18.0    154
16.0    150
22.0    146
20.0    142
21.0    137
24.0    129
1.0     127
17.0    124
19.0    122
23.0    118
25.0    117
27.0    114
28.0    113
26.0    109
30.0     98
31.0     86
29.0     82
33.0     71
32.0     65
35.0     60
34.0     55
37.0     51
36.0     51
38.0     48
39.0     29
40.0     24
41.0     18
42.0     17
43.0      8
Name: Time_of_service, dtype: int64
data for  Time_since_promotion
1    1819
2    1811
3    1703
4    1505
0     162
Name: Time_since_promotion, dtype: int64
data for  growth_rate
45    147
64    147
51    145
61    143
59    141
24    140
56    140
58    140
37    139
52    139
30    138
34    137
54    136
23    136
67    135
29    135
32    135
66    135
31    134
49    133
42    133
62    132
27    131
39    130
70    130
25    130
69    129
57    129
68    128
28    128
71    128
50    127
48    126
60    126
33    125
55    125
41    124
20    123
73    122
44    121
40    121
36    120
43    118
38    117
72    116
21    113
22    113
63    112
46    112
47    110
74    107
35    107
65    107
53    106
26     99
Name: growth_rate, dtype: int64
data for  Travel_Rate
1    3827
0    2224
2     949
Name: Travel_Rate, dtype: int64
data for  Post_Level
3    2435
2    1786
4    1046
1    1035
5     698
Name: Post_Level, dtype: int64
data for  Pay_Scale
8.0     1392
6.0     1284
5.0     1160
4.0      983
7.0      811
9.0      464
2.0      277
3.0      255
10.0     209
1.0      156
Name: Pay_Scale, dtype: int64
data for  Compensation_and_Benefits
type2    3945
type3    2382
type4     353
type0     187
type1     133
Name: Compensation_and_Benefits, dtype: int64
data for  Work_Life_balance
1.0    2042
3.0    2023
2.0    1615
4.0    1197
5.0     112
Name: Work_Life_balance, dtype: int64
data for  VAR1
3    4193
4    1372
2     716
5     368
1     351
Name: VAR1, dtype: int64
data for  VAR2
 0.7516    2458
-0.1048    1629
-0.9612    1047
-1.8176     816
 1.6081     473
Name: VAR2, dtype: int64
data for  VAR3
-0.4537    3363
 0.7075    2329
 1.8688     610
-1.6150     500
-2.7762     198
Name: VAR3, dtype: int64
data for  VAR4
2.0    4491
1.0    1272
3.0     581
Name: VAR4, dtype: int64
data for  VAR5
3    2758
2    2085
4    1450
1     485
5     222
Name: VAR5, dtype: int64
data for  VAR6
8    2661
7    1734
6    1174
5     910
9     521
Name: VAR6, dtype: int64
data for  VAR7
3    3926
4    1320
5     840
2     627
1     287
Name: VAR7, dtype: int64
data for  Attrition_rate
0.1042    10
0.0312     9
0.1294     9
0.0370     8
0.0015     8
0.1500     8
0.1506     8
0.1761     7
0.1413     7
0.0678     7
0.1609     7
0.0579     7
0.1153     7
0.0293     7
0.1514     7
0.1879     7
0.0140     7
0.0482     7
0.0335     7
0.1125     7
0.0026     7
0.0059     7
0.1058     7
0.0366     7
0.1611     7
0.0484     6
0.1033     6
0.1419     6
0.0329     6
0.1570     6
          ..
0.5721     1
0.6504     1
0.4617     1
0.0554     1
0.5605     1
0.6863     1
0.2790     1
0.2582     1
0.1728     1
0.1203     1
0.1103     1
0.4151     1
0.1183     1
0.6088     1
0.4467     1
0.4239     1
0.0842     1
0.1223     1
0.1260     1
0.3631     1
0.9262     1
0.4422     1
0.7121     1
0.9520     1
0.0238     1
0.0443     1
0.1302     1
0.0039     1
0.0340     1
0.2232     1
Name: Attrition_rate, Length: 3317, dtype: int64

In [3]:
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values

In [4]:
class MyLabelEncoder(TransformerMixin):

    def __init__(self, *args, **kwargs):

        self.encoder = LabelEncoder(*args, **kwargs)

    def fit(self, x, y=0):

        self.encoder.fit(x)

        return self

    def transform(self, x, y=0):

        return self.encoder.transform(x)

In [5]:
#train_data.columns.tolist()

num_attribs = ['Age',  'Education_Level', 'Time_of_service', 'Time_since_promotion', 'growth_rate', 'Travel_Rate', 'Post_Level', 'Pay_Scale',  'Work_Life_balance', 'VAR1','VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7']
cat_attribs = ['Gender', 'Relationship_Status', 'Hometown', 'Unit', 'Decision_skill_possess', 'Compensation_and_Benefits' ]

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder 
from sklearn.pipeline import FeatureUnion


num_pipeline = Pipeline([
        ('selector', DataFrameSelector(num_attribs)),
        ('imputer', SimpleImputer(missing_values=np.nan, strategy='median')),
        ('std_scaler', StandardScaler()),
    ])

cat_pipeline = Pipeline([
        ('selector', DataFrameSelector(cat_attribs)),
        ('cat_encoder', OneHotEncoder(sparse=False, handle_unknown ='ignore')),
    ]) #('label_encoder', MyLabelEncoder()),

full_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])

In [7]:
#enc = OneHotEncoder(handle_unknown='ignore', sparse=False)
#data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
#values = np.array(data)
#print(values)

#label_encoder = LabelEncoder()
#integer_encoded = label_encoder.fit_transform(values)
#print(integer_encoded)

#print(train_data[cat_attribs].shape)

#onehot_encoder = OneHotEncoder(sparse=False)
#integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
#onehot_encoded = onehot_encoder.fit_transform(train_data[cat_attribs])  #values.reshape(len(values), 1))#integer_encoded
#print(onehot_encoded)
#print(onehot_encoded.shape)


yActual = train_data["Attrition_rate"]
#finalData = cat_pipeline.fit_transform(train_data.drop(["Employee_ID", "Attrition_rate"], axis = 1))
finalData = full_pipeline.fit_transform(train_data.drop(["Employee_ID", "Attrition_rate"], axis = 1))
print(finalData.shape)

(7000, 46)

In [8]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(random_state=42)

#logreg = LogisticRegression()
#logreg.fit(finalData, yActual)
forest_reg.fit(finalData, yActual)

C:\Users\Gandharv\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [9]:
y_pred = forest_reg.predict(finalData)
forest_mse = mean_squared_error(yActual, y_pred)
forest_rmse = np.sqrt(forest_mse)
forest_rmse

0.08422123137535636

In [14]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor(learning_rate=0.02, booster='gbtree', n_estimators=600, objective='reg:linear', random_state=42)

param_grid = [
    {"max_depth":[2,3,4,5,6,7,8,9,10,11,12,13,14,15], 
    "min_child_weight": [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
    "subsample": [i/10 for i in range(2,11)],
    "colsample" : [i/10 for i in range(2,11)]}
]

final_xgb_model= GridSearchCV(xgb_model, param_grid, cv = 10, scoring='neg_mean_squared_error', n_jobs=5)

final_xgb_model.fit(finalData, yActual)

KeyboardInterrupt:

In [76]:
param_grid = [
    {'bootstrap': [True, False], 'n_estimators': [3, 10, 50, 100, 200], 'max_features': [2, 3, 4]},
]

grid_search = GridSearchCV(forest_reg, param_grid, cv=10, scoring='neg_mean_squared_error', n_jobs = 4)

# Fit on data

grid_search.fit(finalData, yActual)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=10, n_jobs=None,
                                             oob_score=False, random_state=42,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=4,
             param_grid=[{'bootstrap': [True, False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10, 50, 100, 200]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [77]:
cvres = grid_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

0.21641148797018478 {'bootstrap': True, 'max_features': 2, 'n_estimators': 3}
0.19586655419762183 {'bootstrap': True, 'max_features': 2, 'n_estimators': 10}
0.18795343864449454 {'bootstrap': True, 'max_features': 2, 'n_estimators': 50}
0.18734448517475338 {'bootstrap': True, 'max_features': 2, 'n_estimators': 100}
0.18685632008149414 {'bootstrap': True, 'max_features': 2, 'n_estimators': 200}
0.21421513728444302 {'bootstrap': True, 'max_features': 3, 'n_estimators': 3}
0.19552146809390702 {'bootstrap': True, 'max_features': 3, 'n_estimators': 10}
0.18880108442644872 {'bootstrap': True, 'max_features': 3, 'n_estimators': 50}
0.18754369490738496 {'bootstrap': True, 'max_features': 3, 'n_estimators': 100}
0.18722303433240783 {'bootstrap': True, 'max_features': 3, 'n_estimators': 200}
0.21572135221982372 {'bootstrap': True, 'max_features': 4, 'n_estimators': 3}
0.19636440044589587 {'bootstrap': True, 'max_features': 4, 'n_estimators': 10}
0.18868338824180694 {'bootstrap': True, 'max_features': 4, 'n_estimators': 50}
0.18777793843929286 {'bootstrap': True, 'max_features': 4, 'n_estimators': 100}
0.18700099171397072 {'bootstrap': True, 'max_features': 4, 'n_estimators': 200}
0.21596707829532868 {'bootstrap': False, 'max_features': 2, 'n_estimators': 3}
0.19527133217773635 {'bootstrap': False, 'max_features': 2, 'n_estimators': 10}
0.1888295056361297 {'bootstrap': False, 'max_features': 2, 'n_estimators': 50}
0.18793499212635836 {'bootstrap': False, 'max_features': 2, 'n_estimators': 100}
0.18750116911882245 {'bootstrap': False, 'max_features': 2, 'n_estimators': 200}
0.21575448535213235 {'bootstrap': False, 'max_features': 3, 'n_estimators': 3}
0.19721341696164413 {'bootstrap': False, 'max_features': 3, 'n_estimators': 10}
0.18953764767933243 {'bootstrap': False, 'max_features': 3, 'n_estimators': 50}
0.18826654039835822 {'bootstrap': False, 'max_features': 3, 'n_estimators': 100}
0.18757334476411625 {'bootstrap': False, 'max_features': 3, 'n_estimators': 200}
0.2176269616374387 {'bootstrap': False, 'max_features': 4, 'n_estimators': 3}
0.19564964859354636 {'bootstrap': False, 'max_features': 4, 'n_estimators': 10}
0.1892447836878429 {'bootstrap': False, 'max_features': 4, 'n_estimators': 50}
0.18863291114045538 {'bootstrap': False, 'max_features': 4, 'n_estimators': 100}
0.18792255760112908 {'bootstrap': False, 'max_features': 4, 'n_estimators': 200}

In [80]:
y_pred = grid_search.predict(finalData)
grid_search_mse = mean_squared_error(yActual, y_pred)
grid_search_mse = np.sqrt(grid_search_mse)
grid_search_mse


#f1_score(yActual, y_pred, average = 'weighted')
#recall_score(yActual, y_pred, average='weighted')

0.06944331033939499

In [83]:
finalTestData = full_pipeline.fit_transform(test_data.drop(["Employee_ID"], axis = 1))
test_pred = grid_search.predict(finalTestData)

In [84]:
test_data["Attrition_rate"] = test_pred
test_data

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4,0.200614
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2,0.225615
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3,0.170081
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3,0.200159
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,type2,4.0,4,1.6081,0.7075,2.0,2,7,4,0.207707
5,EID_20283,F,22.0,4,Married,Franklin,IT,Behavioral,3.0,1,...,type2,1.0,3,NaN,-0.4537,2.0,3,8,3,0.176771
6,EID_21014,M,42.0,3,Married,Washington,Purchasing,Analytical,6.0,4,...,type2,1.0,3,0.7516,1.8688,2.0,3,7,3,0.190887
7,EID_7693,F,41.0,2,Married,Springfield,Sales,Conceptual,4.0,4,...,type2,1.0,3,-0.1048,1.8688,2.0,2,7,5,0.186125
8,EID_13232,M,31.0,1,Single,Springfield,IT,Analytical,7.0,3,...,type2,3.0,3,1.6081,0.7075,2.0,2,7,4,0.171115
9,EID_6515,M,48.0,2,Single,Springfield,R&D,Conceptual,16.0,1,...,type0,3.0,3,-0.1048,-0.4537,2.0,4,7,4,0.226749
10,EID_13639,F,31.0,4,Single,Springfield,Operarions,Behavioral,4.0,2,...,type3,3.0,3,1.6081,0.7075,1.0,3,8,5,0.183883
11,EID_14669,M,29.0,4,Single,Washington,IT,Directive,7.0,2,...,type2,4.0,4,0.7516,-0.4537,1.0,3,5,4,0.176077
12,EID_16537,F,28.0,4,Single,Lebanon,Human Resource Management,Directive,NaN,4,...,type2,3.0,3,0.7516,-0.4537,2.0,2,5,2,0.190240
13,EID_5782,F,65.0,3,Married,Franklin,Logistics,Conceptual,27.0,4,...,type3,1.0,3,-1.8176,-0.4537,1.0,2,8,3,0.198490
14,EID_20157,M,54.0,3,Single,Washington,IT,Analytical,18.0,4,...,type2,5.0,2,0.7516,-0.4537,2.0,2,7,4,0.194405
15,EID_1855,F,64.0,5,Single,Lebanon,Purchasing,Analytical,42.0,3,...,type3,1.0,3,NaN,-0.4537,3.0,3,9,5,0.207376
16,EID_20748,M,42.0,4,Married,Lebanon,Sales,Behavioral,16.0,4,...,type2,4.0,1,-1.8176,-0.4537,NaN,4,8,2,0.193318
17,EID_23179,F,NaN,2,Married,Lebanon,R&D,Behavioral,3.0,3,...,type2,4.0,4,-1.8176,0.7075,2.0,4,7,4,0.202057
18,EID_12838,M,38.0,3,Married,Washington,Logistics,Directive,12.0,1,...,type3,1.0,3,-1.8176,-0.4537,NaN,2,7,3,0.166232
19,EID_21656,F,32.0,1,Married,Franklin,Human Resource Management,Behavioral,4.0,1,...,type2,1.0,3,0.7516,-1.6150,NaN,3,8,2,0.160427
20,EID_8844,M,61.0,4,Single,Lebanon,Human Resource Management,Behavioral,26.0,1,...,type2,5.0,3,-0.1048,-0.4537,2.0,4,8,4,0.175497
21,EID_1536,F,60.0,4,Married,Springfield,IT,Conceptual,32.0,4,...,type4,3.0,2,-0.1048,-0.4537,2.0,2,7,3,0.170119
22,EID_8822,M,60.0,1,Single,Washington,Operarions,Directive,36.0,3,...,type3,1.0,5,0.7516,-0.4537,1.0,3,8,4,0.232969
23,EID_11398,F,42.0,3,Single,Lebanon,Operarions,Directive,12.0,2,...,type2,2.0,3,0.7516,-0.4537,3.0,3,6,2,0.197099
24,EID_12965,F,32.0,4,Married,Washington,Operarions,Conceptual,8.0,2,...,type2,2.0,1,-1.8176,-0.4537,2.0,4,8,3,0.201553
25,EID_5204,M,47.0,4,Single,Franklin,Accounting and Finance,Analytical,15.0,2,...,type2,5.0,2,0.7516,0.7075,1.0,2,6,2,0.166666
26,EID_10030,M,37.0,3,Married,Franklin,Security,Conceptual,10.0,4,...,type3,4.0,3,0.7516,0.7075,1.0,3,8,1,0.176922
27,EID_13227,M,27.0,3,Single,Franklin,IT,Directive,4.0,1,...,type3,1.0,3,-0.9612,0.7075,2.0,3,7,4,0.177590
28,EID_20607,M,45.0,3,Married,Clinton,R&D,Directive,15.0,4,...,type2,2.0,4,-0.1048,1.8688,2.0,4,6,5,0.218821
29,EID_14070,F,29.0,4,Single,Washington,R&D,Analytical,6.0,3,...,type3,2.0,3,NaN,-0.4537,2.0,3,5,3,0.175235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,EID_1668,M,56.0,5,Married,Washington,R&D,Conceptual,19.0,1,...,type2,1.0,3,NaN,-1.6150,NaN,2,7,3,0.201965
2971,EID_8120,F,59.0,5,Married,Lebanon,Logistics,Conceptual,33.0,4,...,type3,4.0,4,-0.1048,-0.4537,NaN,2,8,3,0.183916
2972,EID_22777,F,25.0,3,Married,Springfield,Purchasing,Conceptual,6.0,4,...,type2,1.0,3,0.7516,0.7075,1.0,4,8,3,0.193052
2973,EID_19141,F,19.0,2,Married,Clinton,Accounting and Finance,Conceptual,0.0,0,...,type2,4.0,3,0.7516,-0.4537,2.0,4,5,4,0.171967
2974,EID_22674,M,37.0,3,Single,Washington,Logistics,Conceptual,14.0,1,...,type2,1.0,3,0.7516,-0.4537,3.0,4,8,4,0.191413
2975,EID_16121,M,23.0,3,Married,Franklin,Quality,Conceptual,4.0,1,...,type3,1.0,4,-1.8176,-0.4537,NaN,1,8,3,0.177447
2976,EID_14662,M,33.0,5,Single,Franklin,Operarions,Behavioral,4.0,3,...,type3,5.0,3,-0.9612,-0.4537,1.0,2,7,5,0.195142
2977,EID_23290,F,60.0,3,Single,Lebanon,R&D,Directive,38.0,4,...,type3,3.0,3,-0.1048,0.7075,2.0,4,8,3,0.185379
2978,EID_20144,M,32.0,4,Married,Lebanon,Security,Behavioral,10.0,2,...,type3,2.0,3,0.7516,0.7075,2.0,3,9,4,0.189608
2979,EID_23052,F,32.0,3,Single,Lebanon,Logistics,Analytical,8.0,4,...,type2,3.0,1,-0.1048,-0.4537,3.0,3,9,4,0.179486
2980,EID_25575,F,30.0,3,Married,Springfield,IT,Analytical,8.0,3,...,type2,4.0,4,0.7516,-0.4537,3.0,3,6,3,0.217833
2981,EID_23724,F,35.0,5,Married,Springfield,Sales,Conceptual,10.0,1,...,type2,2.0,3,NaN,0.7075,1.0,3,5,5,0.212884
2982,EID_14759,M,NaN,3,Married,Lebanon,Operarions,Directive,6.0,2,...,type2,3.0,4,-0.1048,-0.4537,1.0,3,8,5,0.201665
2983,EID_25209,M,31.0,4,Married,Washington,R&D,Analytical,5.0,4,...,type3,1.0,2,-0.1048,-1.6150,2.0,2,8,3,0.176309
2984,EID_17753,F,21.0,4,Married,Clinton,Sales,Behavioral,2.0,1,...,type2,1.0,3,0.7516,-0.4537,1.0,3,8,3,0.167243
2985,EID_4693,M,48.0,3,Married,Springfield,Marketing,Analytical,17.0,2,...,type3,3.0,5,1.6081,-0.4537,1.0,2,7,3,0.227763
2986,EID_17284,F,22.0,4,Married,Washington,Sales,Conceptual,3.0,1,...,type2,4.0,3,0.7516,0.7075,2.0,3,8,3,0.162359
2987,EID_9131,M,38.0,5,Married,Washington,Marketing,Conceptual,10.0,2,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,1,0.196959
2988,EID_24625,M,52.0,3,Single,Springfield,Quality,Behavioral,20.0,3,...,type3,1.0,3,-1.8176,-0.4537,1.0,2,8,2,0.186613
2989,EID_24912,M,35.0,2,Married,Lebanon,Logistics,Directive,10.0,2,...,type2,3.0,3,1.6081,0.7075,2.0,3,6,4,0.183219
2990,EID_19612,F,54.0,4,Married,Franklin,Sales,Directive,32.0,1,...,type2,1.0,3,NaN,-0.4537,2.0,3,6,3,0.159055
2991,EID_9147,F,65.0,3,Married,Lebanon,Operarions,Directive,38.0,2,...,type2,4.0,3,-1.8176,-0.4537,2.0,2,6,3,0.169491
2992,EID_6891,M,47.0,3,Married,Franklin,Operarions,Behavioral,15.0,2,...,type2,3.0,3,-0.9612,0.7075,2.0,2,6,4,0.207118
2993,EID_10639,F,35.0,4,Single,Washington,Marketing,Conceptual,12.0,3,...,type2,3.0,3,0.7516,0.7075,2.0,4,7,3,0.173832
2994,EID_5880,F,62.0,3,Married,Franklin,Sales,Conceptual,23.0,2,...,type2,3.0,4,-0.1048,-0.4537,NaN,4,6,3,0.173861
2995,EID_22547,F,32.0,3,Single,Franklin,Sales,Directive,3.0,3,...,type2,2.0,1,-0.1048,0.7075,1.0,4,7,4,0.194396
2996,EID_10066,F,NaN,2,Single,Franklin,Marketing,Conceptual,10.0,2,...,type2,1.0,3,0.7516,0.7075,3.0,4,8,3,0.186622
2997,EID_7126,F,60.0,4,Single,Lebanon,Logistics,Analytical,35.0,1,...,type3,3.0,3,-1.8176,-0.4537,NaN,4,8,4,0.197832
2998,EID_4929,F,51.0,1,Married,Springfield,IT,Behavioral,23.0,1,...,type3,1.0,5,0.7516,-0.4537,2.0,3,9,2,0.181868
2999,EID_24750,F,45.0,1,Single,Franklin,Sales,Directive,12.0,4,...,type4,4.0,3,0.7516,-0.4537,2.0,2,8,5,0.238684

In [85]:
final_submission = test_data[["Employee_ID", "Attrition_rate"]]

In [86]:
final_submission

     Employee_ID  Attrition_rate
0      EID_22713        0.200614
1       EID_9658        0.225615
2      EID_22203        0.170081
3       EID_7652        0.200159
4       EID_6516        0.207707
5      EID_20283        0.176771
6      EID_21014        0.190887
7       EID_7693        0.186125
8      EID_13232        0.171115
9       EID_6515        0.226749
10     EID_13639        0.183883
11     EID_14669        0.176077
12     EID_16537        0.190240
13      EID_5782        0.198490
14     EID_20157        0.194405
15      EID_1855        0.207376
16     EID_20748        0.193318
17     EID_23179        0.202057
18     EID_12838        0.166232
19     EID_21656        0.160427
20      EID_8844        0.175497
21      EID_1536        0.170119
22      EID_8822        0.232969
23     EID_11398        0.197099
24     EID_12965        0.201553
25      EID_5204        0.166666
26     EID_10030        0.176922
27     EID_13227        0.177590
28     EID_20607        0.218821
29     EID_14070        0.175235
...          ...             ...
2970    EID_1668        0.201965
2971    EID_8120        0.183916
2972   EID_22777        0.193052
2973   EID_19141        0.171967
2974   EID_22674        0.191413
2975   EID_16121        0.177447
2976   EID_14662        0.195142
2977   EID_23290        0.185379
2978   EID_20144        0.189608
2979   EID_23052        0.179486
2980   EID_25575        0.217833
2981   EID_23724        0.212884
2982   EID_14759        0.201665
2983   EID_25209        0.176309
2984   EID_17753        0.167243
2985    EID_4693        0.227763
2986   EID_17284        0.162359
2987    EID_9131        0.196959
2988   EID_24625        0.186613
2989   EID_24912        0.183219
2990   EID_19612        0.159055
2991    EID_9147        0.169491
2992    EID_6891        0.207118
2993   EID_10639        0.173832
2994    EID_5880        0.173861
2995   EID_22547        0.194396
2996   EID_10066        0.186622
2997    EID_7126        0.197832
2998    EID_4929        0.181868
2999   EID_24750        0.238684

[3000 rows x 2 columns]

In [87]:
final_submission.to_csv(os.path.join(DATA_PATH,"finalSubmission.csv"))